<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
        <title>Rec-Hub Backend</title>
    </head>
    <body>