<!DOCTYPE html>
<html>
    <head>
        <title>Error!</title>
    </head>
    <body>
        <% if (err) { %>
            <p>
                <%= err %>
            </p>
        <% } %>
    </body>
</html>